.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 20px;
  width: 20px;
}

.featureSvgBeat {
  animation: heartBeat 1s ease-in infinite;
}

@keyframes heartBeat {
  0%, 100% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}